#cloud-config
users:
  - name: ${user_name}
    gecos: ${user_name}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
    lock_passwd: false
    passwd: ${user_passwd}
package_update: true
package_upgrade: true
package_reboot_if_required: true
packages:
  - apt-transport-https
  - curl
  - software-properties-common
  - vim
  - wget

  
  
 
